$main-background: rgb(54, 57, 63);
$secondary-background: rgb(32, 34, 37);
$logo: rgb(253, 199, 248);
$alliance-blue: rgb(26, 54, 133);
$dk: #c41e3a;
$druid: #ff7c0a;
$hunter: #aad372;
$mage: #3fc7eb;
$paladin: #f48cba;
$priest: #ffffff;
$rogue: #fff468;
$shaman: #0070dd;
$warlock: #8788ee;
$warrior: #c69b6d;
$gm: #8b0000;
$officer: #1a7939;
$veterano: #3498db;
$core-raider: #e67e22;
$gildano: #f1c40f;
$recluta: #ff00c3;
